<!doctype html>
<title>MD410 Emonti Convention Registration Stats as at {{ dt }}</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
<body>
<h1>MD410 Emonti Convention Registration Stats as at {{ dt }}</h1>
<h3><a href="/stats_file">Download these stats as an Excel file</a></h3>
<h2>Totals</h2>
<ul>
   <li>Total Attendees:  {{ stats.total_attendees }}</li>
   <li>Number of Lions:  {{ stats.lions }}</li>
   <li>Number of Non-Lions:  {{ stats.non_lions }}</li>
   <li>Number attending their first MDC:  {{ stats.first_mdc }}</li>
   <li>Number attending the MJF lunch:  {{ stats.mjf_lunch }}</li>
   <li>Number attending the PDG dinner:  {{ stats.pdg_dinner }}</li>
   <li>Number attending the President Elect's breakfast:  {{ stats.lpe_breakfast }}</li>
   <li>Number interested in a Partner's Program:  {{ stats.partner_program }}</li>
</ul>
<h2>Extra Items</h2>
<ul>
   <li>Total Number of Pins: {{ stats.pins }}</li>
   <li>Total Number of Return Airport Transfers: {{ stats.transport }}</li>
   <li>Windbreakers:
     <ul>
        {% for wb in windbreaker_order %}
        <li>{{ wb }}: {{ stats.windbreakers[wb] }}</li>
        {% endfor %}
     </ul>  
   </li>
</ul>
<h2>Club Info</h2>
<h3>Numbers Per Club</h3>
<ul>
{% for (club, total) in stats.clubs.most_common() %}
   <li>{{ club }}:  {{ total }}</li>
{% endfor %}
</ul>
<h3>Numbers Per District</h3>
<ul>
{% for (district, total) in stats.districts.most_common() %}
   <li>{{ district }}:  {{ total }}</li>
{% endfor %}
</ul>
<h2>Dietary Restrictions</h2>
<ul>
{% if stats.dietary %}
   {% for dietary in stats.dietary %}
      <li>{{ dietary }}</li>
   {% endfor %}
{% else %}
   <li>None</li>
{% endif %}
</ul>
<h2>Disabilities</h2>
<ul>
{% if stats.disability %}
   {% for disability in stats.disability %}
      <li>{{ disability }}</li>
   {% endfor %}
{% else %}
   <li>None</li>
{% endif %}
</ul>
<h2>Attendees</h2>
<table border=1>
   <tr>
      <th>Reg Num</th>
      <th>Name</th>
      <th>Name Badge</th>
      <th>Club</th>
      <th>Pins</th>
      <th>Return Airport Transfers</th>
      <th>Windbreakers</th>
   </tr>
   {% for attendee in stats.attendees %}
   <tr>
      <td>{{ attendee.reg_num }}</td>
      <td>{{ attendee.name }}</td>
      <td>{{ attendee.name_badge }}</td>
      <td>{{ attendee.club }}</td>
      <td>{{ attendee.pins }}</td>
      <td>{{ attendee.transport }}</td>
      <td>{{ attendee.windbreakers }}</td>
   </tr>
   {% endfor %}
</table>
</body>

